html,body{
    margin:0px;
}
.main {
    width: 100vw;
    height: 100vh;
}
.firstbar{
    width: 100%;
    height: 10%;
    border: 3px solid black;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
.scrollbarparent{
    width:  80%;
    height: 45%;
    border: 3px solid black;
    display: flex;
}
.scrollbarname{
    flex:2.5;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.scrollernametext{
    font-size: clamp(10%,15px,30px);
    color: white;
}
.scrollbarroller{
    flex:7.5;
    border: 1px solid black;
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}
.scrollbarollertext{
    font-size:190% ;
}
.scrollbarinnertext {
    text-decoration: none;
    color: black;
}
.navbar{
    border: 1px solid black;
    width: 100%;
    height: 12%;
    display:flex;
}
.logoandname{
    flex:1.5;
    border: 3px solid black;
    display: flex;
}
.logo{
    flex:3;
    display: flex;
    width: 100%;
    height: 100%;
}
.name{
    flex:7;
    display:flex;
    align-items: center;
    justify-content: left;
}
.namecon{
    max-width:fit-content;
    max-height: fit-content;
    font-size: clamp(12px, 2vw, 36px);
}
.links {
    flex: 6.5;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    display: flex; /* Ensures flex behavior */
    justify-content: center; /* Spaces items evenly */
    width: 100%; /* Adjust width to align properly */
    gap: 7vw; /* Optional: Control spacing between items */
}

.contents a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.contents a:hover{
    color: rgb(71, 71, 206);
}
.button{
    flex:2;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttoncon{
    width: 60%;
    height: 40%;
    font-size: 100%;
    background-color: rgb(4, 4, 83);
    color:white;
}
.buttoncon:focus{
    background-color: blue;
}

@media (max-width:426px) {
    .links{
        display: none;
    }
    .buttoncon{
        display: none;
    }
} 